.connector {
    transition: all 0.3s ease-in-out;
    /* background-image: repeating-linear-gradient(35deg, transparent, transparent 5px, #87530f 5px, #87530f 15px); */
}

.connector.origin {
    border: 2px solid black;
}

.connector.destination {
    border: 2px solid black;
}


body {
    user-select: none;
}

.pulse {
    animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
    }
}

.littlePulse {
    animation: little-pulse-animation 1s infinite;
}

@keyframes little-pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
    }
}

.blurBackground {
    backdrop-filter: blur(10px); /* Ajusta el valor del desenfoque según tus necesidades */
    background: rgba(255, 255, 255, 0.3); /* Fondo con transparencia para ver el desenfoque */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}